@model SPMS.Web.ViewModels.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-8 col-8">
        
        <div class="text-center">
            <h1 class="display-4">Welcome to Beyond the Darkness a Star Trek Role Play Game</h1>
            <p>Starfleet has used Starbase Gamma as a foot hold in the Gamma Quadrant since 2392 when the station was created following an increase in Dominion activity that caused concern back on earth.</p>

            <p>No other Alpha Quadrant power has set up a base on this side of the wormhole leading to many other species using SBG as a staging area. You'll find Romulans, Klingons, Ferengi and more aboard Starbase Gamma.</p>
    
            <p>Now as tensions in the area rise reports are abound of star ships &amp; colonies going dark, of people disappearing. The Dominion assert that they aren't to blame and so do the other Alpha and Beta Quadrant powers.</p>
    
            <p>Still, something out there; Beyond the Darkness; is wrong and Task Force Aegis has been instructed investigate.</p>
        </div>
    </div>
    <div class="d-sm-none d-md-block col-md-4 col-4">
        <div class="embed-responsive embed-responsive-1by1">
            <p><a href="https://discord.gg/rYuXncM">Join our discord</a> to discuss joining our game or just to hang out.</p>

            <iframe src="https://discordapp.com/widget?id=592903525722488832&theme=dark" allowtransparency="true" class="embed-responsive-item"></iframe>
        </div>

    </div>
</div>

