@model SPMS.Web.ViewModels.ViewModel


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>The story so far...</h1>
            <p>April 5th 2385 will forever be a dark day in the history of the Federation, it was a focal point for a change in its outlook. Other species in the galaxy would say it was one long overdue where the boundless enthusiasm for Science, Exploration and Humanitarian efforts was curtailed. To many of those in Starfleet it was the day a dream died, watching the Federation abandon the remainder of the Romulan Empire to die, watching once bold ideals fall by the wayside of anger and fear.</p>

            <p>The ban on synthetics was only the first such rule to affect the Federation, where they once used Starfleet to police the stars they pulled back allowing people to self organise and control their own areas of space. This allowed locations such as the notorious Freecloud to grow into a haven for civilians bent making a quick bar of gold pressed latinum at someone else's expense.</p>

            <p>The loss of Utopia Planitia pushed Starfleet to decentralise its ship building programs, spreading ship yards across the galaxy to ensure that the loss of one would not cripple the fleet's ability to build cutting edge starships. So much knowledge, history and ability could not be allowed to be lost in one fell swoop again.</p>

            <p>One such location Starfleet chose to build a Station in was the Gamma Quadrant, after a short discussion with the Dominion work began on a Spacedock class Starbase 18 light years from the Gamma Quadrant side of the worm hole in 2387. The project was put under the command of then Rear Admiral Jessica Darkly a small task force known as Task Force Aegis was also put under her command to provide security whilst the station was built, despite the Dominion agreeing to a Starfleet station in the area Starfleet was not convinced it wouldn’t come under attack from someone and it would not do to put a Spacedock under the sole protection of the Dominion.</p>

            <p>Starbase Gamma was declared active in early 2399 shortly before the Federation; through the efforts of retired Admiral Jean-Luc Picard; was introduced to an entirely synthetic species which overturned the synthetic ban overnight. Whilst the ban has been overturned that does not mean that synthetic species are accepted amongst the people of the Federation, too much hurt and anger still lives on from 2385.</p>

            <p>With the Starbase active and pulling in plenty of civilian traffic the role of Starbase Gamma and Task Force Aegis has changed, now Vice Admiral Darkly has taken on the age old role of Starfleet to explore and protect those in the Gamma Quadrant who need it. To help with this new role Starfleet has dispatched extra vessels to Task Force Aegis including USS Sovereign under the Command of Captain Marcus Brightstar who joins the Task Force to take over day to day command of Starbase Gamma.</p>
        </div>
    </div>
</div>

