@model SPMS.Web.ViewModels.ViewModel

@{
    ViewData["Title"] = "Apply to join " + Model.SiteTitle;
}

<div class="container">
    <h1>Apply to join</h1>

    <p>The best way to get started on Beyond the Darkness is to drop by out Discord channel and have a chat about the character you wish to write, then our crew will help you get set up and settled in.</p>

    <div class="embed-responsive embed-responsive-1by1">
        <iframe src="https://discordapp.com/widget?id=592903525722488832&theme=dark" allowtransparency="true" class="embed-responsive-item"></iframe>
    </div>

</div>