@model SPMS.Common.ViewModels.ViewModel

@{
    ViewData["Title"] = "Delete";
}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-danger">
            <h1 class="h2">Delete post?</h1>
        </div>
        <div class="float-right">
            <a asp-action="Writing" asp-area="player" asp-controller="My" class="btn btn-primary">Back to portal</a>
        </div>
        <h2 class="h3">Are you sure you want to delete this?</h2>
        <div>

            <div class="border-warning">
                <h3 class="h4">@ViewData["PostTitle"]</h3>

                <markdown>
                    @ViewData["PostContent"]
                </markdown>

                <form asp-action="DeleteConfirmed" asp-route-id="@ViewData["Id"]" asp-area="player" asp-controller="Authoring" class="border-bottom border-danger" method="post">
                    <input type="hidden" id="Id" name="Id" value="@ViewData["Id"]" />
                    <input type="submit" value="Yes I'm sure delete this" class="btn btn-danger" />
                </form>
                <br />
                <div class="text-center">
                    <a asp-action="Writing" asp-area="player" asp-controller="My" class="btn btn-primary">Back to portal</a>
                </div>
            </div>
        </div>
    </main>