@model SPMS.Web.ViewModels.MyWritingViewModel

@{
    ViewData["Title"] = "My writing " + Model.SiteTitle;
}

<div class="row">
    
    <div class="col-10">
        <div class="row">
            <div class="col-6">
                <h1>Draft Posts</h1>
                <p>Resume your draft posts</p>
                <ul class="list-group">

                    @foreach (var post in Model.DraftPosts)
                    {
                    <li class="list-group-item"><span class="fab fa-firstdraft"></span> <a asp-action="post" asp-controller="authoring" asp-route-id="@post.Id">Continue editing post titled: @post.Title</a><div class="small text-right">Last updated @@ <i>datetime</i> by <i>player</i></div></li>
                    }
                </ul>
            </div>
            <div class="col-6">
                <h1>Scheduled Posts</h1>
                <p>These posts are scheduled to go live at a future time.</p>
                <ul class="list-group">
                    @foreach (var post in Model.PendingPosts)
                    {
                        <li class="list-group-item"><a asp-action="post" asp-controller="authoring" asp-id="post.Id">@post.Title</a> <div class="small text-right">scheduled for <i>datetime</i></div></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-2">
        @if (Model.Characters.Any() && Model.HasEpisode)
        {
            <a asp-action="Post" asp-controller="Authoring" asp-area="" class="btn btn-primary">Create New Post</a>
        }

    </div>
</div>