@model SPMS.Web.ViewModels.ViewModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Beyond the Darkness</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Database
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Biography" asp-action="Index">Dramatis Personae</a>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Registry" asp-action="Index">Starship Registry</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Index">The Story So Far</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">Join us</a>
                </li>

            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @{
                                var avatar = User.Claims.First(x => x.Type == "picture").Value;
                            }
                            <img src="@avatar" alt="@User.Identity.Name avatar and menu" width="25px" /> Manage Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @* Show Application Link if not a player? *@
                            @if (Model.IsPlayer)
                            {
                                <a asp-area="" asp-action="Index" asp-controller="My" class="dropdown-item">Characters</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">How to join</a>
                            }

                            <div class="dropdown-divider"></div>
                            <a id="qsLogoutBtn" class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </div>
                    </li>
                    @if (Model.IsAdmin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                <a asp-area="Admin" asp-action="Index" asp-controller="Player" class="dropdown-item">Player Management</a>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a id="qsLoginBtn" class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

