@model SPMS.Common.ViewModels.ViewModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/branding.jpg" width="30" height="30" alt="@Model.SiteTitle" class="rounded"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About the Game
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Story" asp-action="Sofar">The Story So Far</a>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Biography" asp-action="Index">Dramatis Personae</a>
                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Registry" asp-action="Index">Starship Registry</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Story" asp-action="Index">The Game</a>
                </li>
                @if (!Model.IsPlayer)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">Join us</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">

                    </li>
                }
            </ul>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    @if (Model.IsPlayer)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="player" asp-controller="PlayerDashboard" asp-action="Index">
                                <img gravatar-email="@Model.gravatar" alt="@User.Identity.Name avatar and menu" class="d-inline-block align-top navbar-image rounded-circle"/>
                                Dashboard
                            </a>
                        </li>
                    }
                    @if (Model.IsAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Dashboard" asp-action="Index">
                                <i class="fas fa-tools"></i>
                                Admin
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a id="qsLoginBtn" class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login / Sign-up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

