@model SPMS.Web.ViewModels.ViewModel
@{
    ViewData["Title"] = "Starship & Station Registry for " + Model.SiteTitle;
}

<h1>Starship &amp; Station Registry</h1>


<i class="text-muted">Coming soon</i>