@using SPMS.Common
@model SPMS.ViewModel.Rules.RulesViewModel
@{
    ViewData["Title"] = "The Rules";
}

<h1>The Rules</h1>

<ul>
    <li>We practice Wheaton's Law within games associated with Shades of Grey, the law is simple: Don't be a dick.</li>
    <li>Shades of Grey is an inclusive group as such every one is to be treated with respect. Inappropriate behaviour will be met with expulsion from the group.</li>
    <li>No Jedi, Jedi will be killed at first manifestation of their abilities.</li>
    <li>No disintegration weapons, the Emperor wants him alive.</li>
</ul>
