@using SPMS.Common
@model SPMS.ViewModel.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Star Wars - Shades of Grey</h1>

    <img src="~/tenant/img/deathmark.jpg" alt="Scum & Villany - just what you find with Grey Wing" class="img-fluid" />

</div>

<div class="row">
    <p>Living in the outer rim is difficult at the best of times for your average being, those who have joined Grey Wing find it even more difficult than most. Turning their back on both the Empire and the New Republic seemed like the best idea to those involved, unable to stomach the atrocities carried out in the Emperor’s name and unable to gel with those fighting back to reclaim the galaxy they became mercenaries working for anyone with the coin to spare.</p>

    <p>Now 18 months later they find themselves beset on all sides by those they’ve worked with, those they’ve wronged and the worst thing? They’ve unwittingly been in bed with a Hutt Crime Lord the whole time.</p>

    <p>They maybe on the run from the remnants of the Empire and from the New Republic however that isn’t their main concern. As the Galaxy knows the only thing worse than having a Hutt as a friend is owing them money and <i>this</i> Hutt is getting impatient for repayment.</p>

    <p>Star Wars: Shades of Grey is a play by SPMS Sim set 7 years after the Battle of Yavin in the post Return of the Jedi Expanded Universe. </p>
</div>
<div class="row">
    <div class="col">
            <a href="https://www.22ndfleet.com/" target="_blank">
                <img src="~/tenant/img/22nd-member-sim.png" alt="A proud member of 22nd Fleet link to fleet website" class="rounded mx-auto d-block" />
            </a>
    </div>
</div>
