@model SPMS.Common.ViewModels.ViewModel

@{
    ViewData["Title"] = "The Rules " + Model.SiteTitle;
}

<h1>The Rules</h1>

<ul>
    <li>We practice Wheaton's Law within games associated with BtD, the law is simple: Don't be a dick.</li>
    <li>BtD is an inclusive group as such every one is to be treated with respect. Inappropriate behaviour will be met with explusion from the group.</li>
</ul>