@model SPMS.Common.ViewModels.BaseViewModel

@{
    ViewData["Title"] = "The story so far " + Model.SiteTitle;
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>The story so far...</h1>
            <p>It isn’t easy walking the line between the light and pure darkness; the last 12 months have proven that, just as leaving the Empire behind was the best idea Sol had ever had, the same could be said for his defection from the Rebel Alliance too. At best he and his compatriots had felt as though their presence was begrudgingly accepted rather than being welcomed with open arms as others who had shed the shackles of the Empire had been, Grey Squadrons last mission from Falor Base had seen them depart with not only the Z95’s they piloted but also 4 BFF01 transports filled to the brim with new fighters and enough spare parts to keep a squadron afloat for 6 months.</p>

            <p>Life after that had been a roller coaster of fun, games and theft. Sometimes in favour of the Empire, at others in favour of the Rebellion. Playing both sides off against the other had worked out well for them allowing remnants of Grey Squadron to grow beyond their former shell and reimagine themselves as a true mercenary power within the outer rim territories. Available for anyone with enough credits to call on they were often seen supporting a wide variety of actions within the Galactic Core ranging from space battles to insurgencies and on occasion kidnap. It’s rumoured that Grey Squadron has even turned its hand to assassinations when the price is right, although that is not something Sol or his command team have ever directly acknowledged.</p>

            <p>The real turning point in their fortunes came around 18 months after their defection when the discovered an Acclamator Class Fighter Carrier from the Clone Wars, despite the intervening years and the battle damage it had suffered the ship was functional enough to be recovered and repaired giving them a more mobile base to operate from as and when they needed too.</p>

            <p>It was mid ABY7 when their fortunes took a dive and the world began to crash down around their ears, first it became apparent that someone within Grey Squadron had been sleeping with Grand Moff Ardus Kaine’s consort which put them firmly in his sights, an action against the New Republic meant that they were rapidly raising on their hit list and the worst fate of all. Sol Harizzo learned that they had been bank rolled by and working on behalf of Najha the Hutt from Tatooine.</p>

            <p>On the run, owing their continued existence to a prominent member of the Hutt crime syndicate Grey Wing must make ends meet and ensure that the Hutt is happy or else find they will find their lives forfeit.</p>

        </div>
    </div>
</div>

