@model SPMS.Common.ViewModels.BaseViewModel

@{
    ViewData["Title"] = "The story so far " + Model.SiteTitle;
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>The story so far...</h1>
            <P>Coming soon!</P>
        </div>
    </div>
</div>

