@model SPMS.ViewModel.PageViewModel

<h1>Shades of Grey Frequently Asked Questions</h1>

<dl>
    <dt>What is SPMS?</dt>
    <dd>SPMS is the name of the software used to power this website and the role play experience, it is similar to the well known Nova system and allows for PlayByWeb format game play. Anyone that has used Nova will get the hang of SPMS straight away.</dd>
    <dt>ABY? What is that</dt>
    <dd>ABY is an abbreviation for After the Battle of Yavin and is used in Star Wars to denote passage of time. We are currently 7 years ABY which puts us 3 years after the events of Return of the Jedi.</dd>
    <dt>Why Legends? I love the new films</dt>
    <dd>Whilst the new films were a certain kind of awesome, the rich tapestry of the Legends Canon gives us a much better back story to play around in. The GM grew up reading the Rogue Squadron Books, in fact Wraith Squadron is the seed that created this game.</dd></dd>
</dl>