@page "/author"


<h3>Author Post</h3>




  @code {
        //public object[] Tools = new object[]
        //{
        //    "Bold", "Italic", "Underline", "SubScript", "SuperScript", "StrikeThrough",
        //    "FontName", "FontSize", "FontColor", "BackgroundColor",
        //    "LowerCase", "UpperCase", "|",
        //    "Formats", "Alignments", "OrderedList", "UnorderedList",
        //    "Outdent", "Indent", "|", "CreateTable",
        //    "CreateLink", "Image", "|", "ClearFormat", "Print",
        //    "SourceCode", "FullScreen", "|", "Undo", "Redo"
        //                    };


        public object[] Tools = new object[] {
            "Bold", "Italic", "StrikeThrough", "|",
            "Formats", "OrderedList", "UnorderedList", "|",
            "CreateLink", "Image", "CreateTable", "FullScreen", "|", "Undo", "Redo"
        };
    }
